[submodule "all"]
	path = all
	url = git@github.com:aoindustries/semanticcms-autogit-all.git
[submodule "model"]
	path = model
	url = git@github.com:aoindustries/semanticcms-autogit-model.git
[submodule "servlet"]
	path = servlet
	url = git@github.com:aoindustries/semanticcms-autogit-servlet.git
[submodule "style"]
	path = style
	url = git@github.com:aoindustries/semanticcms-autogit-style.git
[submodule "taglib"]
	path = taglib
	url = git@github.com:aoindustries/semanticcms-autogit-taglib.git
[submodule "view"]
	path = view
	url = git@github.com:aoindustries/semanticcms-autogit-view.git
